/* ========================================================== */
/* == Propiedades Globales ================================== */

* {
 -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ====== */
html, body {
  height: 100%;
}
/* ====== */
body {
  font-size: 100%;
  background-color: #181419;
}
/* ====== */
a {
  text-decoration: none;
}
/* ====== */
a:focus,
a:focus-visible,
button:focus,
button:focus-visible,
input[type=text]:focus,
input[type=text]:focus-visible,
input[type=password]:focus,
input[type=password]:focus-visible,
.principal_d-1_d-1_label-tp-2_span:focus,
.principal_d-1_d-1_label-tp-2_span:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #27C9FF;
}
/* ====== */
input {
  filter: none;
  background: inherit;
}

/* ========================================================== */
/* == Header ================================================ */

header {
  min-height: 38px;
  padding: 4px 6px;
  background-color: #221D24;
}

/* == Propiedades comunes =================================== */

header {
  min-height: 38px;
  padding: 4px 6px;
  border-bottom: solid 2px #B7ABBB;
  background-color: #221D24;
}

/* == Propiedades comunes =================================== */

.header_d-1,
.header_d-1_d-1,
.header_d-1_d-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* ======== */
.header_d-1_d-1 a,
.header_d-1_d-2_a-1,
.header_d-1_d-2_a-2 {
  padding: 2px 6px 0;
  min-height: 26px;
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
/* ======== */
.header_d-1_d-2_a-1:hover, .header_d-1_d-2_a-2:hover {
  background-color: #27C9FF;  
}
/* ======== */
.header_d-1_d-2_a-1:active, .header_d-1_d-2_a-2:active {
  background-color: #00A2D8;
}

/* == Contenedor de: logo y nombre-enlace del sitio, input-text de busqueda y enlaces: Entrar, Crear cuenta ==== */

.header_d-1 {
  max-width: 1280px;
  margin: auto;
  row-gap: 6px;

}
/* == Contenedor de: logo y nombre-enlace del sitio ==== */

/* == Imagen: Logo ==== */
.header_d-1_d-1 img {
  width: 40px;
  height: 30px;
}
/* == Enlace: Nombre-enlace del sitio ==== */
.header_d-1_d-1 a {
  min-width: 102px;
}

/* == Contenedor de enlaces: Entrar y Crear cuenta ==== */
.header_d-1_d-2 {
  margin-left: auto;
}
/* == Enlace: Entrar ==== */
.header_d-1_d-2_a-1 {
  min-width: 58px;
}
/* == Enlace: Crear cuenta ==== */
.header_d-1_d-2_a-2 {
  min-width: 111px;
}

/* ============================================================= */
/* == Principal ================================================ */

#principal {
  padding: 38px 6px;
}
/* == Contenedor base ==== */
.principal_d-1 {
  max-width: 1280px;
  margin: auto;
}
/* == Contenedor de: elementos de form crear cuenta ==== */
.principal_d-1_d-1 {
  max-width: 480px;
  margin: auto;
  padding: 38px;
  -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;
  border: solid 3px #423745;
  background-color: #221D24;
}
/* == Contenedor de: titulo Crear cuenta y parrafo Crea una cuenta en CaC Juegos ==== */
.principal_d-1_d-1_d-1 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  row-gap: 6px;
  padding-bottom: 8px;
  border-bottom: solid 2px #423745;
}
/* == Titulo (h1): Crear cuenta ==== */
.principal_d-1_d-1_d-1 h1 {
  font-size: 1.5em;
}
/* == Párrafo: Crea una cuenta en CaC Juegos ==== */
.principal_d-1_d-1_d-1 p {
  margin-left: auto;
  font-size: 0.875em;
  color: #CCC;
}

/* == Contenedor de: enlace ¿Ya tienes cuenta? ==== */
.principal_d-1_d-1_a-1 {
  display: flex;
  margin: 10px 0 0 auto;
}
/* == Enlace: ¿Ya tienes cuenta? ==== */
.principal_d-1_d-1_a-1 a {
  margin-left: auto;
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
  font-size: 0.875em;
  color: #00BFFF;
}

/* == Label (Tipo 1): Nombre, Correo, Contraseña y Confirmar contraseña ==== */
.principal_d-1_d-1_label-tp-1 {
  display: table;
  font-size: 1em;
  margin-top: 12px;
}
/* == Input Text-Password (Tipo 1): Nombre, Correo, Contraseña y Confirmar contraseña ==== */
.principal_d-1_d-1_input-text-pass-tp-1 {
  display: block;
  width: 100%;
  height: 32px;
  margin-top: 3px;
  padding: 0 12px;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  outline: 0;
  background-color: #2D252F;
  font-size: 0.875em;
}
/* == Input Text-Password (Tipo 1): ... Estado 1 ==== */
.principal_d-1_d-1_input-text-pass-tp-1-e-1 {
  border: solid 2px #423745;
}
/* == Input Text-Password (Tipo 1): ... Estado 2 ==== */
.principal_d-1_d-1_input-text-pass-tp-1-e-2 {
  border: solid 2px #FF4E4E;
}

/* == Párrafo (Tipo 1): descripción de Input Text-Pass (Tipo 1) ==== */
.principal_d-1_d-1_p-tp-1 {
  margin-top: 4px;
  font-size: 0.75em;
}
/* == Párrafo (Tipo 1): ... Estado 1 ==== */
.principal_d-1_d-1_p-tp-1-e-1 {
  color: #CCCCCC;
}
/* == Párrafo (Tipo 1): ... Estado 2 ==== */
.principal_d-1_d-1_p-tp-1-e-2 {
  color: #FF4E4E;
}

/* == Label (Tipo 2) contenedor de: Input Checkbox, Span y P (Aceptar Condiciones de Uso) ==== */
.principal_d-1_d-1_label-tp-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 18px;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
/* == Label (Tipo 2): Input Checkbox (Aceptar Condiciones de Uso) ==== */
.principal_d-1_d-1_label-tp-2 input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
/* == Label (Tipo 2): Span (contenedor de imagen de visto) ==== */
.principal_d-1_d-1_label-tp-2_span {
  display: block;
  width: 24px;
  height: 24px;
  padding-top: 3px;
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
  background-color: #2D252F;
}
/* == Label (Tipo 2): Span ... Estado 1 ==== */
.principal_d-1_d-1_label-tp-2_span-e-1 {
  border: solid 2px #423745;
}
/* == Label (Tipo 2): Span ... Estado 2 ==== */
.principal_d-1_d-1_label-tp-2_span-e-2 {
  border: solid 2px #FF4E4E;
}
/* == Label (Tipo 2): Span: Img (imagen de visto) ==== */
.principal_d-1_d-1_label-tp-2_span img {
  display: block;
  width: 18px;
  height: 14px;
  margin: auto;
}
/* ======== */
.principal_d-1_d-1_label-tp-2 input ~ .principal_d-1_d-1_label-tp-2_span img {
  display: none;
}
/* ======== */
.principal_d-1_d-1_label-tp-2 input:checked ~ .principal_d-1_d-1_label-tp-2_span img {
  display: block;
}
/* ======== */
.principal_d-1_d-1_label-tp-2 p {
  margin-left: 6px;
  font-size: 0.875em;
}
.principal_d-1_d-1_label-tp-2_p-e-1 {
  color: #FFF;
}
.principal_d-1_d-1_label-tp-2_p-e-2 {
  color: #FF4E4E;
}

/* == Button (submit): botón enviar de form-1 ==== */
.principal_d-1_d-1_button-submit-1 {
  display: block;
  width: 100%;
  min-height: 36px;
  margin-top: 18px;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  
  border: none;
  outline: 0;
  background-color: #00BFFF;
}
/* ======== */
.principal_d-1_d-1_button-submit-1:hover {
  background-color: #27C9FF;
}
/* ======== */
.principal_d-1_d-1_button-submit-1:active {
  background-color: #00A2D8;
}

/* ========================================================== */
/* == Footer ================================================ */

footer {
  min-height: 114px;
  padding: 16px 6px;
  border-top: solid 2px #B7ABBB;
  background-color: #2C262F;
}
/* == Contenedor de: logo y nombre-enlace del sitio, input-text de busqueda y enlaces: Entrar, Crear cuenta ==== */
.footer_d-1 {
  display: block;
  max-width: 1280px;
  margin: auto;
}
/* == */
.footer_d-1_d-1 {
  display: flex;
  padding-bottom: 12px;
  border-bottom: solid 1px #4B404F;
}

/* == Contenedor del logo y nombre-enlace del sitio ==== */
.footer_d-1_d-1_d-1 {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* == Imagen: Logo ==== */
.footer_d-1_d-1_d-1 img {
  width: 40px;
  height: 30px;
}
/* == Enlace: nombre-enlace del sitio ==== */
.footer_d-1_d-1_d-1 a {
  min-width: 102px;
  min-height: 26px;
  padding: 2px 6px 0;
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
/* == Contenedor de: Párrafo (nombre del sitio y año actual) ==== */
.footer_d-1_d-2 {
  display: flex;
}
/* == Párrafo: nombre del sitio y año actual ==== */
.footer_d-1_d-2_p-1 {
  padding-top: 18px;
  font-size: 12px;
}

/* ========================================================== */
/* == Media Queries ========================================= */

/* == Resolución de ancho máxima de 600px =================== */
@media (max-width: 600px)
{
  /* ========================== */
  /* == Header ================ */

  /* == Contenedor de: logo y nombre-enlace del sitio, input-text de busqueda y enlaces: Entrar, Crear cuenta ==== */
  .header_d-1 {
    flex-wrap: wrap;
  }
  /* == Input-Text de busqueda del Header ==== */
  .header_d-1_input-text-1 {
    display: none;
  }
  /* == Contenedor de enlaces: Entrar y Crear cuenta ==== */
  .header_d-1_d-2 {
    margin-left: auto;
  }
}

/* == Resolución de ancho máxima de 480px =================== */
@media (max-width: 480px)
{
  /* == Contenedor de: titulo Crear cuenta y parrafo Crea una cuenta en CaC Juegos ==== */
  .principal_d-1_d-1_d-1 {
    flex-direction: column;
    align-items: flex-start;
  }

/* == Párrafo: Crea una cuenta en CaC Juegos ==== */
  .principal_d-1_d-1_d-1 p {
    margin-left: 0;
  }
}